#general_Info_container {
    display: grid;
    grid-template-columns:33% 33% 33%
}

#general_Info {
    display: grid;
    grid-template-rows: auto auto
}

#favorite_ingredients {
    display: grid;
    grid-template-rows: auto 70%;
}

#top_recipes {
    display: grid;
    grid-template-rows: auto 60%;
}
#general_info_list_container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#user_instructions {
    margin-top: 10px;
}